<script>var crudTitle = '<%= prettyName %>';</script>

<div class="container">

	<div class="row">
		<div class="col-md-12">
			<h3 class="pull-left"><%= prettyName %></h3>
			<h3 class="pull-right">
				<a class="btn btm-sm btn-info" href="/<%= controller %>/new">Add</a>
			</h3>
		</div>
	</div>


	<div class="well">
		<form class="form" role="form" action="../<%= controller %>" method="GET">
			<div class="row">
				<div class="col-md-7">
					<label class="control-label" for="__viewlimit">Free text</label>
					<input class="form-control" type="text" name="__freetext" value="<%= freetext %>" />
				</div>
<!--
				<div class="col-md-1">
					<label class="control-label" for="__viewpage">Page</label>
					<input class="form-control" type="text" name="__viewpage" value="<%= viewpage %>" />
				</div>
				<div class="col-md-1">
					<label class="control-label" for="__viewpage">Pages</label>
					<input class="form-control" type="text" name="__pagecount" value="<%= pagecount %>" />
				</div>
		-->
				<div class="col-md-2">
					<label class="control-label" for="__viewlimit">Max</label>
					<input class="form-control" type="text" name="__viewlimit" value="<%= viewlimit %>" />
				</div>
				
				<div class="col-md-2">
					<fieldset disabled>
					<label class="control-label " for="__totres">Tot</label>
					<input class="form-control" type="text" name="__totres" value="<%= recordcount %>" />
					</fieldset>
				</div>
				

				<div style="margin-top:24px" class="text-right col-md-1">
					<input class="btn btn-info" type="submit" name="search" value="Search" />
				</div>
			</div>

			<div class="row">
				
				<% var width = Math.floor(12/facets.length) > 1 ? Math.floor(12/facets.length) : 2 ;%>
				<% _.each(facets, function(facet) { %>

				<div class="col-md-<%=  width %>">
					<label class="control-label" for="<%= facet.config.field %>"><%= facet.config.caption %></label>
					<div class="bfh-selectbox hidden" data-name="<%= facet.config.field %>" data-value="<%= facet.selectedvalue %>" data-filter="true">
						<div class="bfh-selectbox-option" data-value="">(ALL)</div>
						<% _.each(facet.values, function(value) { %>
							<div class="bfh-selectbox-option" data-value="<%= value.value %>"><%= value.option %> <%= value.count >-1 ? "(" + value.count + ")" : "" %></div>
						<% }) %>
					</div>
				</div>
				<% }) %>
			</div>
		</form>
	</div>



	<table class='table'>
		<tr>
			<% var mode = "i" ; %>
			<% _.each(fields, function(field) { %> 
				<% if (field.ines.indexOf(mode) > -1) { %>
					<th><%= field.label ? field.label : field.name %></th>
				<% } %>
			<% }) %>		
			<th></th>
			<th></th>
			<th></th>
		</tr>
		

		<% _.each(records, function(record) { %>
		<tr data-id="<%= record.id %>" data-model="record">
			<% var mode = "i" ; %>
			<% _.each(fields, function(field) { %> 
				<% if (field.ines.indexOf(mode) > -1) { %>
					<td><%= record[field.name] ? record[field.name].crudRender() : "" %></td>
				<% } %>
			<% }) %>	
			
			<td><a href="../<%= controller %>/show/<%= record.id %>" class="btn btn-sm btn-primary">Show</a></td>
			<td><a href="../<%= controller %>/edit/<%= record.id %>" class="btn btn-sm btn-warning">Edit</a></td>

			<td style="width:82px"><form action="../<%= controller %>/destroyAction/<%= record.id %>" method="POST">
				<input type="hidden" name="_method" value="delete"/>
				
				<input id="deletebtn_<%= record.id %>" type="button" class="delconfirmbtn<%= record.id %> btn btn-sm btn-danger" value="Delete" onclick="$('.delconfirmbtn<%= record.id %>').toggleClass('hidden');"/>
				
				<input id="confirm_btn<%= record.id %>"type="submit" class="delconfirmbtn<%= record.id %> btn btn-sm btn-danger hidden" value="Confirm"/>
				
				<input type="hidden" name="_csrf" value="<%= _csrf %>" />
			</form></td>
		</tr> 

		<% }) %>
	</table>
</div>
